<!--This is base Layout-->

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <!--Nav menu and user on top-->
    <nav>

    </nav>
    <!--End nav menu and user on top-->
    <div>
        @RenderBody()
    </div>
</body>
</html>
