@{
    ViewBag.Title = "ALL BEDS";
    Layout = "~/Views/Shared/_LayoutForAdminPage.cshtml";
}
@if (Model != null)
{
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="green">
                <h4 class="title">Employee</h4>
                <p class="category">This table is showing all employees</p>
            </div>
        </div>
    </div>
</div>
}
