@model  SMGS.Presentation.ViewModel.VM.VM_BookingByBed
@using SMGS.Presentation.Helper
@{
    ViewBag.Title = "BOOKING";
    Layout = "~/Views/Shared/_LayoutForAdminPage.cshtml";
}

@if (Model.Bookings != null && Model.Bookings.Count > 0)
{
    var hoursInDay = 10;
    //var hoursStart = 8;
    //DateTime timeStart = new DateTime()
    TimeSpan timesStart = new TimeSpan(8, 0, 0);

    Model.Bookings = Model.Bookings.OrderBy(_ => _.From).ToList();

    var days = Model.Bookings.GroupBy(_=>_.From.Date).
        Select(_ => _.FirstOrDefault()).
        ToList().
        Select(_ => _.From.Date);
    var count = 0;
    foreach (var day in days)
    {
        var bookings = Model.Bookings.Where(_ => _.From.Date == day.Date).ToList();
        <div class="row table-for-time">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Bookings of @day.ToShortDateString()</h4>
                        <p class="category"></p>
                    </div>
                    <div class="table-responsive">
                        <div class="table-for-time">
                            <div class="row col-md-12 time">
                            @for (int j = 8; j < 20; j++)
                            {
                                <div class="col-md-1 time-row">
                                    <div class="row hour">@j</div>
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </div>
                            }
                            </div>
                            <!--To show time-->
                            @for (int i = 0; i < bookings.Count; i++)
                            {
                                if (!bookings[i].IsPaid)
                                {
                                    var from = -1;
                                    var childfrom = -1;
                                    var to = -1;
                                    var childto = -1;
                                    DateTimeHelper.GetParentChildNodeTime(bookings[i].From, bookings[i].To, out from, out childfrom, out to, out childto);
                            <div class="row col-md-12 bed-row">
                             @for (int j = 8; j < 20; j++)
                                {
                                    if (from <= j && j <= to)
                                    {
                                    <div class="col-md-1 bed-row">
                                        @for (int k = 1; k <= 4; k++)
                                        {
                                            if (from <= j && j < to)
                                            {
                                                <div class="col-md-3 booking" onclick="goToBooked(@bookings[i].Id)"></div>
                                            }
                                            else if (j == to && childfrom <= k && k <= childto)
                                            {
                                                <div class="col-md-3 booking"></div>
                                            }
                                            else
                                            {
                                                <div class="col-md-3"></div>
                                            }
                                        }
                                    </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-1 bed-row">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-3"></div>
                                            <div class="col-md-3"></div>
                                            <div class="col-md-3"></div>
                                        </div>
                                    }
                                }
                            </div>
                                }
                                count++;
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

<style>
    .booking {
        background-color: #61B765;
    }
</style>
<script type="text/javascript">
    goToBooked(bookedId){
        window.location.href = '';
    }
</script>