<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/Contents/img/favicon.png" />
    <title>Sign in</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="~/Contents/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Materia. Dashboard CSS    -->
    <link href="~/Contents/css/material-dashboard.css" rel="stylesheet" />
</head>

<body class="wrapper-sign-in">
    <div class="logo">
        <a href="http://fb.com/hoangphat2107" class="logo-sign-in">HPP</a>
    </div>
    <div class="wrapper seperate">
        <div class="col-md-1"></div>
        <!--Introduce area-->
        <div class="col-md-6 sign-in-area non-border">
            <div class="seperate"></div>
            <p>Chậm lại để cảm nhận cuộc sống cùng Seoul Spa</p>
            <p>Cuộc sống hiện đại xô bồ khiến bạn luôn cảm thấy căng thẳng, mệt mỏi. </p>
            <p>Tuổi dậy thì, sinh hoạt hay môi trường khiến da bạn ngày càng trở nên hư tổn, dễ nổi mụn.  </p>
            <p>Chỉ với chút ít thời gian nâng niu bản thân tại SEOUL SPA, lấy sạch mụn gốc cứng đầu, trả lại bạn làn da sạch mụn, sáng mịn và đầy tự tin trước mọi ánh nhìn.</p>
            <p>SEOUL SPA được thiết kế với không gian ấm cúng, không kém phần sang trọng và tinh tế, mang phong cách ÂU – Á. </p>
            <p> Với hương thơm tinh dầu dịu nhẹ từ các loại cây cỏ, cùng tiếng nhạc du dương trầm bổng như đưa bạn đến một vùng đất mới, nơi không còn những bộn bề, lo toan.</p>
        </div>
        <!--End introduce area-->
        <div class="col-md-4">
            <div class="col-md-1"></div>
            <!--Sign in area-->
            <div class="col-md-11 sign-in-area non-border">
                <div class="seperate"></div>
                <div class="seperate"></div>
                <div>
                    <form>
                        <div class="form-group label-floating">
                            <label class="control-label">Username or Code</label>
                            <input id="username" type="text" class="form-control" />
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Password</label>
                            <input id="password" type="password" class="form-control" />
                        </div>
                        <button type="reset" onclick="SignIn()" class="btn btn-primary pull-right">Login</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
            <!--End sign in area-->
        </div>

        <div class="col-md-1"></div>
    </div>
</body>
<!--   Core JS Files   -->
<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-3.3.1.js" type="text/javascript"></script>
<script src="~/Scripts/material.min.js" type="text/javascript"></script>
<!--  Charts Plugin -->
<script src="~/Scripts/chartist.min.js"></script>
<!--  Dynamic Elements plugin -->
<script src="~/Scripts/arrive.min.js"></script>
<!--  PerfectScrollbar Library -->
<script src="~/Scripts/perfect-scrollbar.jquery.min.js"></script>
<!-- Material Dashboard javascript methods -->
<script src="~/Scripts/material-dashboard.js?v=1.2.3"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="~/Scripts/demo.js"></script>
</html>